<nav class="navbar">
    <div class="navbar-inner">
        <span style="font-size: 1.5rem; margin-right: 10px;" @click="showFilesMobile=!showFilesMobile"><i  data-lucide="menu"></i></span>
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
        <a href="/" style="text-decoration: none; flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center;">
            {% if meta.siteLogoPath %}
                <img class="site-logo" src="{{meta.siteLogoPath}}" alt="{{meta.siteName}}">
            {% endif %}
            <div class="site-title-group">
                <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
                {% if meta.siteDescription %}
                    <p class="site-description">{{ meta.siteDescription }}</p>
                {% endif %}
            </div>
        </a>
        {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
    </div>

    {% if settings.dgEnableSearch === true%}
        {% include "components/searchButton.njk" %}
    {%endif%}
</nav>