<a class="view-toggle-btn" href="{{ viewToggle.href }}" title="{{ viewToggle.labelPt }}">
  <span class="view-toggle-emoji" aria-hidden="true">{{ viewToggle.emoji }}</span>
  <span class="view-toggle-a11y" data-title-pt="{{ viewToggle.labelPt }}" data-title-en="{{ viewToggle.labelEn }}">{{ viewToggle.labelPt }}</span>
</a>
