@font-face {
    font-family: "Daft Font";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Daft Font.TTF") format("truetype");
}

@font-face {
    font-family: "Knewave Outline";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/knewave-outline.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik Dirt";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Rubik-Dirt-Regular.ttf") format("truetype");
}