#tooltip-wrapper {
    border: var(--terminal-border) !important;
    border-radius: 0 !important;
    box-shadow: var(--theme-tooltip-glow) !important;
    background: var(--theme-tooltip-bg) !important;
    color: var(--theme-tooltip-text) !important;
}
